@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html.dark {
  background: #222;
  color: white;
}

body {
  @apply text-main-dark font-sset dark:text-white dark:bg-dark-800 bg-primary-gray;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  @apply font-butler text-4xl;
}
